header { 
    height: 200px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    position: relative;
}

.logo{
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 10%;
}

h1{
    font-size: 60px;
    margin:auto;
}

#date {
    color: #808080;
}

#booleaner{
    color: #20A9E5;
}

#didascalia {
    font-size: 12px;
    margin-top: 0%;
}

ul{
    padding: 1%;
}

table{
    border-collapse: collapse;

}

th, td{
    padding: 10px;
}

thead {
    background-color: #1FA5E0;
    color: white;
}

.celeste{
    background-color: #B0E4F1;
}

 