header { 
    height: 200px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    position: relative;
}

.logo{
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 10%;
}

#date {
    color: #808080;
}

#booleaner{
    color: #20A9E5;
}